# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "8111e04e7dac0405fdd1d9aba92663ad"
name = "product oput"
application_url = "https://shopify-itool.onrender.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
dev_store_url = "auxito-2.myshopify.com"

[webhooks]
api_version = "2026-04"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_products,write_products"

[auth]
redirect_urls = [
  "https://shopify-itool.onrender.com/auth/callback",
  "https://shopify-itool.onrender.com/auth/login"
]
